In [7]:
!pip install pymongo

Requirement already satisfied: pymongo in e:\anaconda\lib\site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in e:\anaconda\lib\site-packages (from pymongo) (2.7.0)

In [8]:
from pymongo import MongoClient
client = MongoClient('mongodb+srv://muhammadumairshaikh519:dwh-lab7@lab7-cluster.yphdj.mongodb.net/?retryWrites=true&w=majority&appName=Lab7-Cluster')

In [9]:
db = client['Uber_Lyft_Cab_Prices']
collection = db['Lab_7_Data']


# Inserting a sample document
document = {"name":"ali", "city":"karachi"}
inserted_document = collection.insert_one(document)

print(f"Inserted Document ID: {inserted_document.inserted_id}")

Inserted Document ID: 6718b4b91df583a8acba60dd

# Extracting Data

In [14]:
import pandas as pd

In [18]:
df = pd.read_csv('F:\Downloads\cab_rides.csv\cab_rides.csv')

In [19]:
df.head(10)

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
5,0.44,Lyft,1545071112138,North Station,Haymarket Square,16.5,1.0,f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2,lyft_lux,Lux Black
6,1.08,Lyft,1543208580200,Northeastern University,Back Bay,10.5,1.0,462816a3-820d-408b-8549-0b39e82f65ac,lyft_plus,Lyft XL
7,1.08,Lyft,1543780384677,Northeastern University,Back Bay,16.5,1.0,474d6376-bc59-4ec9-bf57-4e6d6faeb165,lyft_lux,Lux Black
8,1.08,Lyft,1543818482645,Northeastern University,Back Bay,3.0,1.0,4f9fee41-fde3-4767-bbf1-a00e108701fb,lyft_line,Shared
9,1.08,Lyft,1543315522249,Northeastern University,Back Bay,27.5,1.0,8612d909-98b8-4454-a093-30bd48de0cb3,lyft_luxsuv,Lux Black XL

In [20]:
df.columns

Index(['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price',
       'surge_multiplier', 'id', 'product_id', 'name'],
      dtype='object')

In [21]:
# Transform Section

In [22]:
# 1. Distance Conversion (Miles to Kilometers)
df['distance_km'] = df['distance'] * 1.60934

In [23]:
# 2. Timestamp Standardization (Convert Unix timestamp to human-readable format)
df['time_stamp'] = pd.to_datetime(df['time_stamp'], unit='ms')

In [24]:
# 3. Vehicle Type Categorization based on product_id
def categorize_vehicle(product_id):
    if 'lux' in product_id:
        return 'Luxury'
    elif 'line' in product_id:
        return 'Shared'
    else:
        return 'Economy'

df['vehicle_category'] = df['product_id'].apply(categorize_vehicle)

In [26]:
# 4. Data Validation: Checking for missing or invalid data
# Ensure no missing or invalid values in important columns
required_columns = ['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price', 'surge_multiplier']
missing_data = df[required_columns].isnull().sum()

# Optionally, you can raise errors or handle missing data
if missing_data.any():
    print(f"Warning: Missing data in columns:\n{missing_data}")

# You can handle missing values by either filling them, removing rows, etc.
df = df.dropna(subset=required_columns)

# Ensure all distances are positive and prices are non-negative
df = df[(df['distance_km'] > 0) & (df['price'] >= 0)]

In [27]:
df

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,distance_km,vehicle_category
0,0.44,Lyft,2018-12-16 09:30:07.890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,0.70811,Shared
1,0.44,Lyft,2018-11-27 02:00:23.677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,0.70811,Economy
2,0.44,Lyft,2018-11-28 01:00:22.198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,0.70811,Economy
3,0.44,Lyft,2018-11-30 04:53:02.749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,0.70811,Luxury
4,0.44,Lyft,2018-11-29 03:49:20.223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,0.70811,Economy
...,...,...,...,...,...,...,...,...,...,...,...,...
693065,1.00,Uber,2018-12-01 23:53:05.534,North End,West End,9.5,1.0,353e6566-b272-479e-a9c6-98bd6cb23f25,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV,1.60934,Economy
693066,1.00,Uber,2018-12-01 23:53:05.534,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,1.60934,Economy
693067,1.00,Uber,2018-12-01 23:53:05.534,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,1.60934,Economy
693069,1.00,Uber,2018-12-01 23:53:05.534,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,1.60934,Economy
693070,1.00,Uber,2018-12-01 23:53:05.534,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,1.60934,Economy

In [28]:
# Storing the Data in MongoDB database, only where vehicle_category is luxury

In [29]:
luxury_df = df[df['vehicle_category'] == 'Luxury']

In [30]:
luxury_records = luxury_df.to_dict('records')

In [31]:
if luxury_records:
    collection.insert_many(luxury_records)
    print(f"Inserted {len(luxury_records)} luxury ride records into MongoDB")
else:
    print("No luxury records found for insertion.")

Inserted 102470 luxury ride records into MongoDB

In [32]:
client.close()